<br />

<div class="booyah-box col-10 offset-1">
  <h1>Team</h1>

  <p>
    What it means to be a team?
A team lifts and elevates the performance of an individual to heights never before achieved. For a team to succeed each Individual must also recognize their responsibility to the team. A team is a collection of individuals who have chosen to pursue one or more common goals. ... It takes a team!

  </p>
</div>